


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}

body {
}

a {
  color: inherit;
  text-decoration: none;
}

.rbc-calendar {
  position: relative;
}


.rbc-toolbar  {

 box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.min-h {
  min-height: 50vh;
}

.calContainer {
  margin: 0 auto;
  padding-top: 3rem;
  max-width: 100%;
  height: 100vh;
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}