.tableContainer {
    margin: 20px;
    overflow-x: auto;
    min-height: 50rem;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .th, .td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  .td button {
    background-color: #f44336; /* Red */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .td button:hover {
    background-color: #d32f2f;
  }
  